.questionPage {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid rgb(0, 3, 194);
    border-radius: 10px;
    margin: 10px;
}
.question-content {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.question-title {
    margin: 0;
    font-size: 40px;
}

.answers-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.answer-btn {
    border: 1px solid rgb(0, 3, 194);
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 15px;
    margin: 5px 0;

    &:hover {
        background-color: rgb(0, 3, 194);
        color: #fff;
        opacity: .7;
    }
}

.conclution {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conclution-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conclution__true-answer {
    color: rgb(223, 23, 23);
    margin-left: 10px;
}

.go-home-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .question-title  {
       font-size: 25px;
    }
    .go-home-link {
        font-size: 15px;
        margin-top: 15px;
    }
    .answer-btn {
        padding: 5px 10px;
    }
    .questionPage {
        width: 35px;
        height: 35px;
        margin: 5px;
        h2 {
            font-size: 15px;
        }
        p {
            font-size: 10px;
        }
    }
    .question-content {
        width: 270px;
    }
    .answers-wrapper {
        width: 100px;
    }
}
